{% extends 'base.html.twig' %}

{% block title %}Edit TravelPackage{% endblock %}

{% block body %}
    <h1>Edit TravelPackage</h1>

    {{ include('travel_package/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_travel_package_index') }}">back to list</a>

    {{ include('travel_package/_delete_form.html.twig') }}
{% endblock %}
