<form method="post" 
      action="{{ path('create_reservation', {'customerId': app.user.id, 'packageId': travel_package.id }) }}" 
    >
  <button  class="btn btn-primary">
   reserve
  </button>
</form>
